# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Mac system files
.DS_Store

# Coverage reports
.coverage
htmlcov/

# Pytest cache
.pytest_cache/

